/* CSS Document */

body {
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    font-family: "ו", Arial, Helvetica, sans-serif;
    color: #000;
    background: #fff url( ../images/bg_body.jpg ) repeat center;
}

div, form, img, ul, ol, li, dl, dt, dd, p {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

table, td, tr, th {
    font-size: 12px;
}

a {
    color: #1f3a87;
    text-decoration: none;
}

a:hover {
    color: #bc2931;
    text-decoration: underline;
}

a:active {
    color: #bc2931;
}

.area {
    width: 98%;
    margin: 0 auto;
    clear: both;
    background: #fff;
}

/*.area .logo{
    background:url(..../images/bg_h.jpg) repeat-x;
    padding-top:16px;
    text-align:center;
}*/
.area .head_nav {
    background: url( ../images/bg_nav.jpg ) repeat-x;
    height: 56px;
    clear: both;
}

.area .head_nav ul.nav_t {
    padding-left: 60px;
    clear: both;
}

.area .head_nav ul.nav_t li {
    width: 80px;
    height: 17px;
    text-align: center;
    padding: 8px 0 0 0;
    float: left;
    background: url( ../images/bg_l.jpg ) no-repeat left bottom;
}

.area .head_nav ul.nav_b {
    padding-left: 140px;
    clear: both;
}

.area .head_nav ul.nav_b li {
    float: left;
    width: 80px;
    height: 18px;
    padding: 8px 0 0 0;
    text-align: center;
    background: url( ../images/bg_ls.gif ) no-repeat left top;
}

.area .head_nav ul.nav_b li a {
    color: #fff;
}

.flt_l {
    float: left;
}

.flt_r {
    float: right;
}

.mag_t {
    margin-top: 8px;
}

.area .m_left {
    width: 219px;
    float: left;
    border-right: 1px solid #ccc;
    background: #fff url( ../images/bg_rit.jpg ) repeat-y right;
}

.area .m_left .left_out {
    border: 1px solid #bec3c7;
    width: 208px;
    margin: 8px 4px 0;
}

.area .m_left .left_out h2 {
    font-size: 12px;
    background: #c0d8f0 url( ../images/le_01.jpg ) no-repeat 8px 8px;
    padding: 8px 0 0 28px;
    height: 18px;
    margin: 1px;
    color: #1d375c;
}

.area .m_left .left_out h2 span {
    float: right;
    margin-right: 10px;
}

.area .m_left h2 a img {
    float: right;
    margin: -2px 8px 0 0;
}

.area .m_left .left_out .info_l {
    padding: 10px;
    text-indent: 2em;
    line-height: 16px;
    color: #3d4d5d;
}

.line_he1 {
    border: 1px solid #d1d0d5;
    border-bottom: 0;
    border-right: 0;
}

.line_he1 td {
    border: 1px solid #d1d0d5;
    border-top: 0;
    border-left: 0;
    height: 12px;
    padding-top: 4px;
    text-align: center;
    background: #E6EAF6;
}

.line_he2 td {
    height: 50px;
    padding-top: 20px;
    text-align: center;
}

.area .middle_of {
    width: 330px;
    float: left;
    background: #fff;
}

.area .middle_of h2 {
    font-size: 12px;
    color: #1d375c;
    background: url( ../images/tit_h.jpg ) no-repeat;
    padding: 6px 0 0 12px;
    height: 20px;
    margin: 8px 0;
    width: 318px;
    float: left;
}

.area .middle_of h2 a img {
    float: right;
    margin: -2px 8px 0 0;
}

.area .middle_of .info_l {
    padding: 0 0 10px 0px;
    width: 220px;
    text-indent: 2em;
    line-height: 16px;
    color: #3d4d5d;
    float: left;
}

.area .middle_of span img {
    margin: 0 12px 12px;
    float: left;
}

.area .middle_of .inf_w {
    width: 300px;
    padding: 5px 0 10px;
}

.area .m_right {
    float: right;
    width: 230px;
    height: 1280px;
    background: url( ../images/bg_lbb.jpg ) repeat-y;
    padding-bottom: 10px;
}

.area .m_right h2 {
    font-size: 12px;
    color: #1d375c;
    background: url( ../images/tit_bg.jpg ) no-repeat;
    width: 216px;
    height: 22px;
    padding: 8px 0 0 14px;
    margin-bottom: 10px;
    float: left;
}

.area .m_right .img_b {
}

.area .m_right .img_b img {
    float: left;
    margin: 4px 0 8px 16px;
}

.area .footer {
    background: url( ../images/bg_fot.gif ) repeat-x;
    height: 33px;
    padding: 20px 0;
    line-height: 20px;
    text-align: center;
}

.area .s_main {
    border: 1px solid #bec3c7;
    width: 98%;
    margin: 6px 0 0 8px;
* margin : 6 px 0 0 4 px;
    background: #fff;
    float: left;
}

.area .s_main h2 {
    background: url( ../images/tit_bg12.jpg ) repeat-y;
    margin: 1px;
    padding: 6px 0 0 12px;
    height: 18px;
    font-size: 12px;
    clear: left;
}

.area .s_main h2 a img {
    float: right;
    margin-right: 10px;
}

.bg_col {
    background: #e9f0f8; /* width:780px; float:left; margin-left:113px; *margin-left:55px;*/
    height: 100%;
}

.area .s_main .main_flo {
    width: 380px;
    float: left;
}

.area .s_main .main_flo .info_l {
    padding: 10px 0 10px 4px;
    width: 370px;
    text-indent: 2em;
    line-height: 16px;
    color: #3d4d5d;
    float: left;
}

.line_he3 td {
    padding-top: 4px;
    text-align: center;
    border: 1px solid #d1d0d5;
    border-top: 0;
    border-left: 0;
}

.mag_bod {
    margin-left: 16px;
* margin-left : 8 px;
    border: 1px solid #d1d0d5;
    border-bottom: 0;
    border-right: 0;
}

.area .s_main .main_flo .fb_w {
    width: 720px;
    background: #f7f8fc;
}

.area .s_main .main_flo .jg_t {
    padding-top: 50px;
}

.td_001 {
    border-top-width: thin;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #666666;
    border-right-color: #333333;
    border-bottom-color: #333333;
    border-left-color: #333333;
}
